.skill{
    padding: 25px;
}
.skill-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,180px);
    grid-gap: 80px;
    pad: 60px;
    margin: auto;
}
.skill h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.first-skill{
    display: flex;
    margin-top: 55px;
}
.first-skill .skill-1,.skill-2{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.box{
    width: 100%;
    display: inline;
}
.box h4{
    display: block;
    text-align: center;
    color: #000;
    font-size: 2em;
}
.box .chart{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 160px;
    color: #000;
}
.box canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
